/**
Principal               : rgba(0  , 51 , 153, 1 )
Secundario              : rgba(0  , 51 , 153, .7 )  //Subrayado y activo
Terciario               : rgba(0  , 51 , 153, .2 )
Color fuente principal  : rgba(0  , 51 , 153, 1 )
Color Fondo             : rgba(255, 255, 255,.7 )
Sidebar                 : rgba(0  , 51 , 153, 1 )
Color Sidebar           : rgba(255, 255, 255,.7 )
Side Hover background : rgba(0  , 51 , 153, 1 );
color: #FAFAFA;
**/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.webix_view
{
    font-family: 'Roboto', sans-serif;
}

.webix_control button       ,
.webix_control input        ,
.webix_control textarea     ,
.webix_el_label             ,
.webix_inp_bottom_label     ,
.webix_inp_label            ,
.webix_inp_top_label
{
    font-family: 'Roboto', sans-serif;
}

.webix_el_button button ,
.webix_el_button input  ,
.webix_el_toggle button ,
.webix_el_toggle input  ,
.webixbutton
{
    border-radius: 0;
}

.webix_el_colorpicker   input,
.webix_el_combo         input,
.webix_el_datepicker    input,
.webix_el_search        input,
.webix_el_text          input
{
    border-radius: 0;
}

.webix_modal
{
    background: rgba(0  , 0  , 0  ,.9 );
    opacity   : 1;
}
.webix_window
{
    box-shadow: none;
}
.webix_window .webix_win_content .webix_win_head .webix_view
{
    border      : none;
    box-shadow  : none;
}
.webix_view .webix_win_head>.webix_view>.webix_template
{
    border      : none;
    box-shadow  : none;
    color       : #FAFAFA;
    background  : rgba(0  , 51 , 153, 1 );
}
.webix_view .webix_win_head
{
    border      : none;
    box-shadow  : none;
}
.webix_win_body, .webix_win_body>.webix_view, .webix_win_body>.webix_view .webix_cal_month, .webix_win_content, .webix_window
{
    border     : none;
    box-shadow : none;
}
.webix_el_button button, .webix_el_button input, .webix_el_toggle button, .webix_el_toggle input, .webixbutton
{
    border: none;
}
.webixbutton, .webixtype_base, .webixtype_next, .webixtype_prev
{
    background: rgba(0  , 51 , 153, 1 );
}
.webix_el_colorpicker input,
.webix_el_combo input,
.webix_el_datepicker input,
.webix_el_search input,
.webix_el_text input
{
    border-top  : 0px;
    border-left : 0px;
    border-right: 0px;
    transition  : all .5s ease;
}
.webix_el_colorpicker input:focus,
.webix_el_combo       input:focus,
.webix_el_datepicker  input:focus,
.webix_el_search      input:focus,
.webix_el_text        input:focus
{
    border-top   : 0px;
    border-left  : 0px;
    border-right : 0px;
    box-shadow   : none;
    border-bottom: 2px solid rgba(0  , 51 , 153, .7 );
    font-weight  : bold;
    color        : rgba(0  , 51 , 153, 1 );




}
.webix_inp_counter_next:active,
.webix_inp_counter_prev:active,
.webix_segment_0:active,
.webix_segment_1:active,
.webix_segment_N:active,
.webixbutton:active,
.webixtype_base:active
{
    background-color: #565656;
    color           : #F7F6F5;
}
.webix_inp_counter_next:hover,
.webix_inp_counter_prev:hover,
.webix_segment_0:hover,
.webix_segment_1:hover,
.webix_segment_N:hover,
.webixbutton:hover,
.webixtype_base:hover
{
    background-color: #565656;
    color           : #F7F6F5;
}
.webix_inp_counter_next:focus, .webix_inp_counter_prev:focus, .webix_segment_0:focus, .webix_segment_1:focus, .webix_segment_N:focus, .webixbutton:focus, .webixtype_base:focus
{
    background-color: #565656;
    color           : #F7F6F5;
}
.webix_layout_toolbar.webix_toolbar
{
    background-color: rgba(0  , 51 , 153, 1 );
}
.webix_list_item.webix_selected
{
    background: rgba(0  , 51 , 153, .7 );
}
.webix_list_item.webix_selected table tr td
{
    color:#FAFAFA;
}
.webix_el_colorpicker   span.webix_input_icon:before,
.webix_el_datepicker    span.webix_input_icon:before,
.webix_el_dbldatepicker span.webix_input_icon:before,
.webix_el_search        span.webix_input_icon:before
{
    color: #FAFAFA;
}
.color-principal
{
    background: rgba(0  , 51 , 153, 1 );
}
.item-inicio center      { padding-top: 20px  ;  }
.item-inicio center span { font-size  : 60px  ; margin-left :-40px; }
.item-inicio .item-nombre{ text-align : center; font-style  : 12px; }
.webix_el_colorpicker   span.webix_input_icon,
.webix_el_combo         span.webix_input_icon,
.webix_el_datepicker    span.webix_input_icon,
.webix_el_dbldatepicker span.webix_input_icon,
.webix_el_richselect    span.webix_input_icon
{
    background: rgba(0  , 51 , 153, 1 );
    color     : #FAFAFA;
    border    : none;
    height    : 32px !important;
}
.webix_modal_box .webix_popup_title
{
    background: rgba(0  , 51 , 153, 1 );
    color     : #FAFAFA  ;
}
.webix_modal_box
{
    border            : none;
    -webkit-box-shadow: 0px 0px 100px 2px rgba(0,0,0,0.75);
    -moz-box-shadow   : 0px 0px 100px 2px rgba(0,0,0,0.75);
    box-shadow        : 0px 0px 100px 2px rgba(0,0,0,0.75);
}
.webix_popup_button.confirm div
{
    border       : none   ;
    border-radius: 0      ;
    background   : rgba(0  , 51 , 153, .7 );
}
.webix_alert-error .webix_popup_text, .webix_confirm-error .webix_popup_text
{
    box-shadow: 0 3px rgba(0  , 51 , 153, .7 ) inset;
}
.webix_el_box .webixtype_form
{
    background : rgba(0  , 51 , 153, .2 );
    color      : rgba(0  , 51 , 153, 1 );
    font-weight: bold   ;
    border     : 0      ;
}
.progress_result {
  height: 100%;
  float: left;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  background: rgba(0  , 51 , 153, 1 );
}
.progress_bar_element {
  background-color: #FAFAFA;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  margin-top: 16px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
.webix_ss_footer
{
    background: silver !important;
    margin-top: 0px !important;
}
[view_id="_app_side_head"]>div
{
    background: rgba(0  , 51 , 153, 1 );
}


[view_id="header_site"]
{
    border:0px !important;
    height:70px !important;
}

.app_button button{
    padding:0;
    text-align: center;
}
.webix_layout_toolbar.webix_toolbar .webix_img_btn:active, .webix_layout_toolbar.webix_toolbar .webix_img_btn_top:active,
.webix_layout_toolbar.webix_toolbar .webix_img_btn:hover, .webix_layout_toolbar.webix_toolbar .webix_img_btn_top:hover,
.webix_layout_toolbar.webix_toolbar .webix_img_btn:focus, .webix_layout_toolbar.webix_toolbar .webix_img_btn_top:focus
{
    background-color: rgba(0  , 51 , 153, .7 );
}
.webix_sidebar .webix_tree_item.webix_selected
{
    background-color: rgba(0  , 51 , 153, .7 );
    border:0px ;
}
.webix_sidebar .webix_tree_item.webix_selected span
{
    color:white;
}
.webix_sidebar .webix_tree_item.webix_selected:hover span
{
    color:rgba(0  , 51 , 153, .7 );
}
.webix_item_tab.webix_selected
{
    background-color: rgba(0  , 51 , 153, .7 );
        border-color: #565656;
               color: #F7F6F5;
}
.webix_after_all_tabs
{
    background-color: rgba(0  , 51 , 153, .7 );
}
div.webix_item_tab
{
        border-color: #bbbbbb;
}
.webix_item_tab
{
    background-color: #bbbbbb;
    color: #565656;
    border-radius: 0;
}
.webix_ss_header td
{
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: rgba(0  , 51 , 153, .2 );
    color:black;
}
.webix_el_colorpicker .webix_inp_static, .webix_el_datepicker .webix_inp_static, .webix_el_dbldatepicker .webix_inp_static, .webix_el_richselect .webix_inp_static
{
    border-radius: 0;
}
.webix_el_colorpicker .webix_inp_static:focus, .webix_el_datepicker .webix_inp_static:focus, .webix_el_dbldatepicker .webix_inp_static:focus, .webix_el_richselect .webix_inp_static:focus, .webix_el_textarea textarea:focus
{
        border: 1px solid rgba(0  , 51 , 153, .7 );
    box-shadow: 0 0 1px rgba(0  , 51 , 153, .7 ) inset;
}
.webix_el_textarea textarea
{
    border-radius: 0;
}
.webix_column>div.webix_cell_select, .webix_column>div.webix_column_select, .webix_column>div.webix_row_select
{
    background-color:rgba(0  , 51 , 153, .7 );
}
.webix_sidebar_popup_list .webix_list_item.webix_selected:hover
{
    background-color:rgba(0  , 51 , 153, .7 );
}

.webix_sidebar
{
    background-color: white;
    box-shadow      : 0 0 10px rgba(51, 51, 51, 0.38);
    transition      : width 0.5s ease;
    position        : relative;
}

.webix_sidebar .webix_tree_item
{
    color: rgba(0  , 51 , 153, 1 );
}
.webix_sidebar_selected, .webix_sidebar_expanded .webix_tree_item:hover
{
    background-color: rgba(0  , 51 , 153, 1 );
    color:#FAFAFA !important;
}
.webix_sidebar .webix_tree_branch_1>.webix_tree_item
{
    padding-top: 11px;
    padding-left: 25px;
    transition: all .3s cubic-bezier(0, 0, 0.58, 1);
}
.webix_sidebar .webix_tree_branch_1
{
    border:0px !important;
}
.webix_sidebar .webix_tree_item.webix_selected span
{
    background-color:transparent;
}
.webix_dtable .webix_ss_vscroll_header
{
    border:0px;
}
.webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header
{

}
.webix_ss_vscroll_header
{
    border-left: 1px solid rgba(0  , 51 , 153, 1 );
}
.universo-logo
{
    background: rgba(0,0,0,.2);
    margin:0 !important;
    height: 70px !important;
    border:0px !important;
    cursor:pointer;
}
.universo-logo div
{
    line-height: 70px !important;
    text-align: center;
    border:0px !important;
}
.main-toolbar
{
    border:0px !important;
    box-shadow: 0 6px 8px rgba(0,0,0,0.26);
    position:fixed;
        top: 0px;
        z-index: 11;
}
.main-toolbar .app_button {
    margin:0 !important;
    height: 70px !important;
    border:0px !important;
}
.main-toolbar .app_button .webix_el_box
{
    height: 70px !important;
        padding: 0px;
}
.main-toolbar .app_button .webix_el_box button {
    line-height: 70px !important;
    text-align: center;
    border:0px !important;
}
.main-toolbar .app_button .webix_el_box button span:before
{
    font-size: 18px;
}
[view_id="$layout1"]{ margin-top: 70px;  }
[view_id="content"]
{
    background-color: #FAFAFA;
}
.back-container
{
    background-color: #FAFAFA;
    border:0px !important;
}
.back-gray
{
    background-color: #FAFAFA;
    border:0px !important;
}
.title-container
{
    background-color: #FAFAFA;
    border:0px !important;
}
.title-container .webix_template
{
    padding-left: 19px;
}
.card
{
    box-shadow      : 1px 1px 3px #888;
    background-color: rgba(0  , 51 , 153, 1 );
    color           : #FFF    ;
    padding         : 25px    ;
    margin          :  5px    ;
    transition       : all 0.3s ease;
}

.card:hover
{
    background-color: rgba(0  , 51 , 153, .7 );
}


.card h1
{
  font-weight: lighter;
}
.card p
{
  line-height: 1.4em;
  font-size: 1.2em;
}

/*selection*/
::selection      {background: rgba(0  , 51 , 153, .7 ); color:#FAFAFA;}

/* SCROLL */
::-webkit-scrollbar { width: 8px; background-color: rgba(0,0,0,0); -webkit-border-radius: 100px; }
::-webkit-scrollbar:hover { background-color: rgba(0, 0, 0, 0.09) }
::-webkit-scrollbar-thumb:vertical {  background: rgba(0,0,0,0.5); -webkit-border-radius: 100px;}
::-webkit-scrollbar-thumb:vertical:active { background: rgba(0,0,0,0.61); -webkit-border-radius: 100px;}

/*dataview*/
.webix_dataview
{
    background-color: #FAFAFA;
    border:0px !important;
}
.webix_dataview_item.webix_selected      { background-color: #FAFAFA; border:0px; }
.webix_dataview_item.webix_selected .card{ background-color: rgba(0  , 51 , 153, .7 );  color:#FAFAFA; }
.webix_dataview .dataset-item
{
    padding-bottom: 8px;
    padding-top: 8px;
}
.webix_dataview_item
{
    border:0px;
}

/**/
.toolbar-active { background-color: rgba(0  , 51 , 153, .7 ) !important;  }
.home-show{ display:-webkit-inline-box !important; }

/*calendar*/
.webix_cal_body .webix_cal_select, .webix_cal_body .webix_cal_select.webix_cal_today, .webix_cal_body .webix_selected
{
    background-color: rgba(0  , 51 , 153, .7 ) ;
}
.webix_cal_body .webix_cal_today
{
    border: 1px solid rgba(0  , 51 , 153, .7 );
}
.webix_cal_event
{
    color: rgba(0  , 51 , 153, .7 );
}
.webix_checkbox_1 .webix_custom_checkbox:before
{
    color: rgba(0  , 51 , 153, .7 );
}
.webix_cal_icon:hover, .webix_cal_month_name:hover, .webix_cal_time:hover
{
    color: rgba(0  , 51 , 153, .7 );
}

/*segmented*/
.webix_segment_0.webix_selected, .webix_segment_1.webix_selected, .webix_segment_N.webix_selected
{
    background  : #565656;
    border-color: #565656;
           color: #F7F6F5;
}
.webix_segment_0, .webix_segment_1, .webix_segment_N
{
    background: #F7F6F5;
    border    : 1px solid #F7F6F5;
    color     : #565656;
}
.webix_selected.webix_segment_0:hover, .webix_selected.webix_segment_1:hover, .webix_selected.webix_segment_N:hover
{
    background  : #565656;
    border-color: #565656;
           color: #F7F6F5;
}
.webix_selected.webix_segment_0:active, .webix_selected.webix_segment_0:focus, .webix_selected.webix_segment_1:active, .webix_selected.webix_segment_1:focus, .webix_selected.webix_segment_N:active, .webix_selected.webix_segment_N:focus
{
    background  : #565656;
    border-color: #565656;
           color: #F7F6F5;
}
.label-center div{ text-align: center;  }
.webix_custom_checkbox:focus
{
    border-color: rgba(0  , 51 , 153, .7 );
}
a:active .webix_custom_checkbox, a:focus .webix_custom_checkbox
{
    border: 1px solid rgba(0  , 51 , 153, .7 );
    box-shadow: 0 0 1px rgba(0  , 51 , 153, .7 ) inset;
}

/*counter*/
.webix_el_counter .webix_inp_counter_next, .webix_el_counter .webix_inp_counter_prev
{
    background: rgba(0  , 51 , 153, .7 );
    border: 1px solid rgba(0  , 51 , 153, .7 );
}
.webix_el_counter input[type=text]:focus
{
    border-top: 1px solid rgba(0  , 51 , 153, .7 );
    border-bottom: 1px solid rgba(0  , 51 , 153, .7 );
    box-shadow: 0 0 1px rgba(0  , 51 , 153, .7 ) inset;
}
.webix_view .webix_pager_item_selected
{
    border       : 0px;
    background   : rgba(0  , 51 , 153, 1 );
    border-radius: 0px;
    margin:0px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-list
{
    background:transparent;
}

.home-list .card .box-icon
{
    margin-top:50px;
}

.home-list .card .box-text
{
    text-transform : uppercase;
    font-size      : 16px;
}

.home-list .webix_list_item
{
    border:none;
    float:left;
}

.webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header
{
    background   : rgba(0  , 51 , 153, .2 );
}

.webix_dtable .webix_ss_filter input, .webix_dtable .webix_ss_filter select
{
    margin-top:3px;
}

.btn-toolbar .webix_el_box button{ font-size: 12px; }
.btn-table .webix_el_box button
{
    font-size    : 11px;
    background   : white;
    border-radius: 3px;
    color        : rgba(0  , 51 , 153, 1 );
    border: 1px solid rgba(0  , 51 , 153, 1 );
}

.btn-table .webix_el_box button:hover
{
    background: rgba(0  , 51 , 153, 1 );
    color: white;
}

.form-block{ background:#ddd !important; }

.form-space{ background: #fff; border-radius:4px; }

.form-space .webix_control{ padding-top:10px; padding-bottom:10px; }

.form-space label
{
    text-transform: uppercase;
    color: rgba(138, 138, 137, 0.79);
    font-weight: 300;
}

.webix_view .webix_fieldset fieldset
{
    border: 1px solid rgba(0  , 51 , 153, 1 );
}

.webix_view .webix_fieldset legend
{
    color:rgba(0  , 51 , 153, 1 );
}

.btn-preview-image
{
    background:white;
    border:1px solid rgba(0  , 51 , 153, 1 );
    color:rgba(0  , 51 , 153, 1 );
    border-radius:4px;
    cursor:pointer;
}

.btn-preview-image table tr td{ color: rgba(0  , 51 , 153, 1 ); font-size:10px; }

.webix_layout_space, .webix_layout_wide
{
    background-color: #e2e1e0 !important;
}

.webix_view .webix_pager_item_selected:focus, .webix_view .webix_pager_item_selected:hover
{
    background-color: rgba(0  , 51 , 153, .7 );
}

.app-title-bar
{
    cursor:pointer;
}

.webix_view .webix_pager_item
{
    border-radius:0px;
    background-color: rgba(0  , 51 , 153, .2 );
    border:1px solid rgba(0  , 51 , 153, .2 );
    color:black;
    margin:0px;
}

.webix_view .webix_pager_item:hover
{
    background-color: rgba(0  , 51 , 153, .7 );
    color:white;
    border-radius:0px;
    margin:0px;
}

.webix_error {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 4px #000;
}

.webix_error, .webix_info {
    font-size: 15px;
    color: #333;
    box-shadow: 0 0 0px #888;
    padding: 0;
}

.webix_error div {
    border: 1px solid black;
    color: #FFF;
    background: rgba(50,50,50,1);
    text-transform: uppercase;
    font-size: 12px;
}

.webix_button input, .webix_popup_button div
{
    font-family:'Roboto', sans-serif;
    border-radius: 0px;
    border:1px solid rgba(50,50,50,1);
    background:white;
    color: rgba(50,50,50,1);
}

.webix_popup_text
{
    box-shadow: 0 3px rgba(0  , 51 , 153, .2 ) inset;
}

.webix_el_box
{
    padding: 0 !important;
}


.blurimg
{
    position: fixed;
    top: 0;
    bottom: 0;
    background-size: cover !important;
    left: 0;
    right: 0;
    z-index: -3;
    filter: blur(15px);
}

.transparente
{
    background-color:transparent !important;
}

.transparente .webix_view,
.transparente .webix_view .webix_template
{
    background-color:transparent !important;
}

.container-list .x-right{ float:right; }
.container-list .x-left { float:left ; }
.container-list .x-clear{ clear:both ; }

.webix_accordionitem_header
{
    background-color: rgba(0  , 51 , 153, .7 );
}

.webix_sidebar_popup_title.webix_selected
{
    border-left-color: rgba(0  , 51 , 153, .7 );
    background: rgba(0  , 51 , 153, .7 );
}

.webix_accordionitem.collapsed .webix_accordionitem_header, .webix_accordionitem.horizontal.collapsed .webix_accordionitem_header
{
    background: rgba(0  , 51 , 153, .2 );
}


.foto-list-data
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050101+0,b7b7b7+100&0.05+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(5,1,1,0.05) 0%, rgba(183,183,183,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(5,1,1,0.05) 0%,rgba(183,183,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(5,1,1,0.05) 0%,rgba(183,183,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d050101', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */

}

.foto-list-data .webix_dataview_item.webix_selected
{
    border:1px solid #565656;
}

.fotolist-container
{
    text-align:center;
}

.fotolist-max
{
    height:300px;
}

.fotolist-image
{
    margin:auto;
    width:100%;

}

.foto-list-data .webix_progress_icon
{
    background-color:rgba(50,50,50, .8);
}

.iconset:after
{
    font: normal normal normal 113px/1 FontAwesome;
    position: relative;
    color: rgba(175, 175, 175, 0.24);
    top: -90px;
}

.welcome
{
    background: #ffeb3b;
    border-radius: 0px !important;
    color: rgba(0,0,0,.87);
}



[view_id="oSeparador"]
{
    background:transparent;
}

[view_id="oSeparador"] div
{
    text-align: center;
}

[view_id="oSeparador"] div div
{
    text-align: center ;
}


.bgarrowdown {
  position: relative;
  z-index: 1;
}
.bgarrowdown:before {
  border-top: 1px solid #fff;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.bgarrowdown span {
    background: #fff;
    padding: 0 4px;
    font: normal normal normal 19px/1 FontAwesome;
    border-radius: 48px;
    cursor:pointer;
}

.no-data
{
    color: rgba(255,0,0,.8);
}




.hiord:after   { content: "\f1e6";  }
.hicli:after   { content: "\f007";  }
.hiveh:after   { content: "\f1b9";  }
.hicub:after   { content: "\f10c";  }
.himap:after   { content: "\f041";  }


.table-warning{  background:#ffffacf0; }

.rule{     border-bottom: 1px solid #0033994a !important;  }


.bg_stat{ background: transparent; color: white; font-weight: bold; }
.bg_head{ background: white; color: rgba(0  , 51 , 153, .7 ); }
.bg_green{ background: green; color: white; font-weight: bold; }
.bg_red  { background: red; color: white; font-weight: bold; }


.bg_red .time{ font-weight: bold; font-size: xx-large; }
.bg_red .cash{ font-weight: bold; font-size: medium; }
 

.home-menu{ font-weight: bold; font-size: x-large; }

.home-align
{
    position: relative;
}
.home-align .webix_template
{     
    position: absolute;
    top: 50%;
    height: 100%;
    margin-top: -25%;
    width: 100%; 
}


.home-align:hover{ background: rgba(0  , 51 , 153, 1 ); color:white; }


.bg_saldo  { background: rgba(0  , 51 , 153, .8 ); color: white; font-weight: bold; }

.bg_saldo .time{ font-weight: bold; font-size: xx-large; }
.bg_saldo .cash{ font-weight: bold; font-size: medium; }

.bg_saldo .time b{ font-size: x-small; font-weight: 100 }

.mini-text { font-size: small;line-height: 15px; text-align: center; }

.webix_cell .mini-text:first-child 
{
    padding-top:15%;
}



.patente-list .patente-item
{
    text-align: center;
    background: black;
    color:white;
    font-weight: bold;
    border-top: 4px solid #2196F3;
    border-radius: 6px;
    letter-spacing: 1px;
}

.patente-list .patente-marca
{ 
    font-weight: 800;
    padding-left: 10px;
}

.patente-list .patente-year
{ 
    font-size: 14px;
    padding-left: 10px;
}


.frameport iframe
{
    transform: scale(.9);
    box-shadow: 0px 0px 61px #00000054;
}


.webix_accordionitem_label
{
    font-size: 12px;
    line-height: 30px;
}


.webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button
{
        height: 30px;
            line-height: 30px;
            font-size: 12px;
            
}

.webix_accordionitem_header
{
    border-bottom-width: 0px !important; 
}


@media only screen and (min-width : 0px)
{
    .home-list .webix_list_item
    {
       width: 100%;
    }


}

@media only screen and (min-width : 320px)
{

}

@media only screen and (min-width : 480px)
{

}

@media only screen and (min-width : 768px)
{

}

@media only screen and (min-width : 992px)
{
    .home-list .webix_list_item
    {
       width: 50%;
    }

}

@media only screen and (min-width : 1200px)
{
    .home-list .webix_list_item
    {
       width: 25%;
    }
}
