.inner-tab .webix_el_button .webix_el_box button
{
    border-radius : 2px !important; 
    background    : @toolbar_bg;
    font-weight   : 600;
    font-size     :15px;
    text-transform: uppercase;
    box-shadow    : 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}