/*segmented*/

.form-view .webix_el_segmented
{ 
    border-top-right-radius: 2px;
    border-top-left-radius: 2px: 
}

.form-view .webix_el_segmented .webix_el_box 
{
    padding: 0;
}

.form-view .webix_el_segmented  .webix_inp_top_label
{
    font-size: 10px;
    color:#5e5e5e;
    padding-left: 10px;
}


.form-view .webix_el_segmented .webix_segment_0, 
.form-view .webix_el_segmented .webix_segment_1, 
.form-view .webix_el_segmented .webix_segment_N
{
    height: auto;
        padding: 9px 0px;
            margin: 0;
    font-size: 12px ;
    font-weight: 400;
    border-radius:0px;

    color: @toolbar_bg;
    background: transparent;
        border-color: @toolbar_bg;    
}

.form-view .webix_el_segmented .webix_segment_0:active, 
.form-view .webix_el_segmented .webix_segment_1:active, 
.form-view .webix_el_segmented .webix_segment_N:active
{
    background: rgba(0,0,0,.005) ;

}

.form-view .webix_segment_0.webix_selected, 
.form-view .webix_segment_1.webix_selected, 
.form-view .webix_segment_N.webix_selected
{
    color: white;
    background: @toolbar_bg;
        border-color: @toolbar_bg;
}