.form-view .toolbar-interior
{
    background: @toolbar_bg;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
        width: 100% !important;
}

.form-view .toolbar-interior .webix_el_button, 
.form-view .toolbar-interior .webix_el_label, 
.form-view .toolbar-interior .webix_inp_label
{
    color       : white !important;
    font-size   : 16px  !important;
    font-weight: 600;
    user-select: none;
}


.form-view .toolbar-interior .webix_img_btn .webix_icon_btn
{
    color: white ;
}

.form-view .toolbar-interior .webix_img_btn 
{
     text-align: center;
}

.form-view .toolbar-interior .webix_img_btn:hover, 
.form-view .toolbar-interior .webix_img_btn_top:hover
{
    background: transparent;
}

.form-view .toolbar-interior .webix_img_btn:focus, 
.form-view .toolbar-interior .webix_img_btn_top:focus
{
    background: transparent;
}

.form-view .toolbar-interior .webix_img_btn:active, 
.form-view .toolbar-interior .webix_img_btn_top:active
{
    background: transparent;
}

.form-view .toolbar-interior .webix_el_button button
{
    background: transparent;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 12px;
}