.form-view  .webix_layout_toolbar
{
    background: #e8e8e8;
}

.form-view .webix_layout_toolbar .webix_el_label
{
        color: #00000054;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
        padding-right: 10px;
}