/*combo*/

.form-view .webix_el_combo
{
    background: #e8e8e8;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px 
    
}

.form-view .webix_el_combo .webix_el_box 
{
    padding: 0;
}

.form-view .webix_el_combo .webix_el_box .webix_inp_static
{
    background: transparent;
    border-radius: 0;
    border:none;
    border-bottom:2px solid #9a9a9a;
    font-size: 14px;
    font-weight: 600;
}

.form-view .webix_el_combo .webix_el_box .webix_input_icon
{
    background: transparent;
    color: @toolbar_bg;
}

.form-view .webix_el_combo  .webix_inp_top_label
{
    font-size: 10px;
    color:#5e5e5e;
    padding-left: 10px;
}

.form-view .webix_el_combo .webix_el_box .webix_inp_static:focus
{
    box-shadow: none;
    border-bottom:2px solid @toolbar_bg;
}

.form-view .webix_el_combo .webix_el_box input
{
    background: transparent;
    border-radius: 0;
    border:none;
    border-bottom:2px solid #9a9a9a;
    font-size: 14px;
    font-weight: 600;
}


.form-view .webix_el_combo .webix_el_box input:focus
{
    box-shadow: none;
}

.form-view .webix_el_combo:focus-within label
{
    color: @toolbar_bg; 
}

[view_id~="_colorboard"]
{
    border:none !important; 
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    width: auto !important;
    height: auto !important;
}

/* combo popup*/
[view_id^="$suggest"]
{
    border:none !important; 
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    height: auto !important;
}

[view_id^="$suggest"] .webix_win_content
{
    padding:0 !important;
}

[view_id^="$suggest"] .webix_win_content .webix_list
{
    width: 100% !important;
}


[view_id^="$suggest"] .webix_list_item
{
    border:none;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    font-family: @font;
    color:rgba(0, 0, 0, 0.87);
    padding: 0;
    padding-left: 10px; 
}


[view_id^="$suggest"] .webix_list_item.webix_selected
{
    background: rgba(0, 0, 0, 0.11);
}


