/*input label*/

/*
.form-view:not(.webix_toolbar) .webix_el_label
{
    background: #e8e8e8;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; 
    padding: 1px;

}

.form-view:not(.webix_toolbar) .webix_el_label div
{ 
    border:none;
    border-bottom:1px solid #9a9a9a;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px; 
        color: rgb(102, 102, 102);
}
*/

