.form-view .webix_el_text label,
.form-view .webix_el_text input
{
    transition: all ease .3s;
}


/* toast */
.webix_message_area .webix_error,
.webix_message_area .webix_error div
{

    background: rgba(0,0,10,0.7);
    border: none; 
    color: #fff;
    border-radius: 2px;
    box-shadow:  0 7px 18px rgba(0,0,0,0.2);
}

.webix_message_area .webix_info
{
    font-family: @font;
    font-size: 14px;
    font-weight: 400; 
    line-height: 30px;
}
