


.webix_full_screen
{
    background: @body_bg ;
}

.webix_view
{
    font-family: @font ;
    -webkit-font-smoothing:antialiased;
}

.webix_control button       ,
.webix_control input        ,
.webix_control textarea     ,
.webix_el_label             ,
.webix_inp_bottom_label     ,
.webix_inp_label            ,
.webix_inp_top_label
{
    font-family: @font ;
    -webkit-font-smoothing:antialiased;
}

.webix_button input, .webix_popup_button div
{
    font-family: @font ;
    -webkit-font-smoothing:antialiased;
}


/*selection*/
::selection      {background: @toolbar_bg; color:white;}

/* SCROLL */
::-webkit-scrollbar { width: 8px; background-color: rgba(0,0,0,0); -webkit-border-radius: 100px; }
::-webkit-scrollbar:hover { background-color: rgba(0, 0, 0, 0.09) }
::-webkit-scrollbar-thumb:vertical {  background: rgba(0,0,0,0.5); -webkit-border-radius: 100px;}
::-webkit-scrollbar-thumb:vertical:active { background: rgba(0,0,0,0.61); -webkit-border-radius: 100px;}

:focus {
    outline: none;
}