.webix_layout_space .webix_layout_accordion .webix_accordionitem, 
.webix_layout_space>.webix_view, 
.webix_layout_wide .webix_layout_accordion 
.webix_accordionitem, .webix_layout_wide>.webix_view
{
    border-radius: 2px;
    /*box-shadow   : 0 1px 6px -1px rgba(0, 0, 0, 0.15);*/
    border       : none;

}

.webix_layout_space .webix_view
{
    border:none ;
}

.webix_layout_space, .webix_layout_wide
{
    background: @body_bg;
}

.spacer
{
    border-radius: 0    !important;
    box-shadow   : none !important;
    border       : 0    !important;
}

.shadow
{
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
}

.notify
{
    line-height : 75px ;
    height      : 100% ;
    padding-left: 20px ;
    color       : black;
    font-size   : 14px ;
    font-weight : 400  ;
}

.borderless
{
    border: none !important;
}






.data-view .toolbar-interior .webix_el_button, 
.data-view .toolbar-interior .webix_el_label, 
.data-view .toolbar-interior .webix_inp_label
{
    color       : black;
    font-size   : 16px  !important;
    font-weight: 600;
}


.data-view .toolbar-interior .webix_img_btn .webix_icon_btn
{
    color: black ;
}

.data-view .toolbar-interior .webix_img_btn 
{
     text-align: center;
}

.data-view .toolbar-interior .webix_img_btn:hover, 
.data-view .toolbar-interior .webix_img_btn_top:hover
{
    background: transparent;
}

.data-view .toolbar-interior .webix_img_btn:focus, 
.data-view .toolbar-interior .webix_img_btn_top:focus
{
    background: transparent;
}

.data-view .toolbar-interior .webix_img_btn:active, 
.data-view .toolbar-interior .webix_img_btn_top:active
{
    background: transparent;
}


.data-view .webix_toolbar .webix_el_label
{
    padding-left: 0px;
}


