
.webix_sidebar_expanded
{
    background   : @sidebar_bg;
    position     : relative;
    margin-right : 1px;
    box-shadow   : 5px 0px 9px 0px rgba(0, 0, 0, 0.09);
    
}

.webix_sidebar_expanded .webix_tree_branch_1
{
    border-bottom: 0px;
}

.webix_sidebar_expanded .webix_scroll_cont > .webix_tree_leaves
{
    border-top  : 1px solid #e3e3e36b;
    padding-top : 20px;
}

.webix_sidebar_expanded .webix_tree_branch_1
{
    padding: 3.2px 16px ;
    user-select: none;
}

.webix_sidebar_expanded .webix_tree_item
{
    font-size   : 13px;
    font-weight : 400;
    height      : 48px;
    line-height : 48px;
    padding     : 0 0.75rem; 
    user-select: none;
}

.webix_sidebar_expanded .webix_tree_item.webix_selected
{
    background: rgba(0, 0, 0, 0.06);

}

.webix_sidebar_expanded .webix_tree_item.webix_selected span
{
    background: transparent;
    color     : black;
}

.webix_sidebar_expanded .webix_tree_branch_1>.webix_tree_item
{
    height     : 48px;
    line-height: 48px;
    padding    : 0 0.75rem;
}


/*collapse*/


.webix_sidebar:not(.webix_sidebar_expanded)
{
    background   : @sidebar_bg;
    position     : relative;
    margin-right : 1px;
    box-shadow   : 5px 0px 9px 0px rgba(0, 0, 0, 0.09);   
}


.webix_sidebar:not(.webix_sidebar_expanded) .webix_sidebar_icon
{
    width: 100%;
    font-size: 30px;
}


.webix_sidebar_popup_left .webix_sidebar_popup_title
{
    background: @toolbar_bg;
    color:white;
    font-size: 13px;
    font-weight: 600;

}

.webix_sidebar_popup_left .webix_list_item
{
    font-size: 13px;
    font-weight: 400;
}

.webix_sidebar_popup_left .webix_sidebar_popup_title .webix_template
{
    border:none;
}

.webix_sidebar_popup_left  .webix_list_item:hover
{
    background: rgba(0,0,0,.015);
}

.webix_sidebar_popup_list .webix_list_item.webix_selected:hover
{
    background: rgba(0,0,0,.015);
    color:#000;
}

.webix_sidebar_popup_left .webix_list_item.webix_selected
{
    background: rgba(0,0,0,.015);
    color:#000;    
}